
@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
@model Furry_Community.Models.DataBase.I_found
<style>
    table {
        border: 3px solid black;
        border-collapse: collapse;
    }

    th {
        text-align: left;
        background: #94F07F;
        padding: 5px;
        border: 1px solid black;
    }

    td {
        padding: 5px;
        border: 1px solid black;
    }
</style>
<table style="border: 2px solid #9AA2E7 ">
    <thead>
        <tr>
            <th>Id_заявки</th>  <th>Фото животного</th>   <th>Геолокация</th>   <th>Информация</th>   <th>Дата когда нашли</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            if (ViewData["I_Found_Zayavki_Vse"] is null)
            {
                <tr>
               <td> 
                        <h1>У вас нет ни одной записи</h1>
                         <p style="color:#F05975;">Заполните поля для добавления записи</p>
               </td>
               </tr>
            }
            else { 
            var kolletz =(IEnumerable<Furry_Community.Models.DataBase.I_found> )ViewData["I_Found_Zayavki_Vse"];
            foreach (Furry_Community.Models.DataBase.I_found x in kolletz)
            {
                                <tr>
                                    <td>@x.ID_I_found</td><td>
                    @{
                        if (x.animal_photo is null)
                        {
                          <i>Фото нет</i>
                        }
                        else
                        {
                            var base64 = Convert.ToBase64String(x.animal_photo);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            <img src="@imgSrc" style="width:190px;height:190px;">
            
                        }
                     }
</td>   <td>@x.geolocation</td>  <td>@x.information</td>  <td>@x.date_found</td> 
                </tr>
            }
        }
        }
    </tbody>
</table>
<div>
    <h1>Добавить запись</h1><br/>
    @using (Html.BeginForm("Add_I_Found", "Main"))
    { 
    <label>Введите место где вы нашли животное(геолокацию):</label><br/>
    <input type="text" name="geolocation" id="geolocation"/>
    <br/>
    <label>Введите информацию, которую считаете необходимой передать</label>
    <input type="text" id="information" name="information"/>
    <br/>
    <label>Введите дату когда вы нашли питомца</label>
    <br/>
    <input type="date" id="date_found" name="date_found">
    <br/>
    <label>Введите путь к фото без двойных кавычек с двумя слешами</label>
    <input type="text" name="animal_photo" id="animal_photo">
    <br/>
    <input type="submit" value="добавить новые да">
    }
</div>

<div>
    <h3>Опция для удаления заявки</h3>
    @using (Html.BeginForm("DeleteYour_I_Found_PoId", "Main"))
    {
        <label>Введи  id который хочешь удалить(первый в столбце)</label>
        <input type="number" id="id_num" name="id_num">
        <input type="submit" value="Удалить по Id">
    }
</div>